body {
  margin: 0;
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 60%;
}

.jokes {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  padding: 10px;
}

.joke-list {
  list-style: none;
}

.joke-writing {
  font-size: 0.8rem;
}

.joke-input {
  width: 20em;
  form {
    display: flex;
    flex-direction: column;
  }
}

.setlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.setlist-joke {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 3px 0;
  width: auto;
  background-color: cornflowerblue;
}
